<footer class="fdb-block footer-large bg-dark">
    <div class="container">
        <div class="row align-items-top text-center">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-sm-left">
                <h3><strong>Wes Holing</strong></h3>
                <nav class="nav flex-column">
                    <a class="nav-link" href="index.html">Home</a>
                    <a class="nav-link" href="resume.html">Resume</a>
                    <a class="nav-link" href="samples.html">Samples</a>
                    <a class="nav-link" href="contact.html">Contact</a>
                    <a class="nav-link" href="about.html">About</a>
                </nav>
            </div>

            <div class="col-12 col-md-6 col-lg-5 text-md-left mt-5 mt-md-0">
                <h3><strong>About Wes</strong></h3>
                <p>Wes is a professional front-end web developer, UX designer, and SEO specialist with 10 years of experience in nonprofit and activist spaces.</p>
            </div>

            <div class="col-12 col-lg-2 ml-auto text-lg-left mt-4 mt-lg-0">
                <h3><strong>Follow Wes</strong></h3>
                <p class="lead">
                    <a href="https://twitter.com/wesholing" class="mx-2"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/wesholing" class="mx-2"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col text-center">
                © 2019 Wes Holing
            </div>
        </div>
    </div>
</footer>
